
@font-face{
  font-family:"HCo Gotham SSm";
  src:url("./assets/fonts/GothamSSm/GothamSSm-Medium.woff2") format("woff2"),url("./assets/fonts/GothamSSm/GothamSSm-Medium.woff") format("woff");
  font-weight:500;
  font-style:normal
}

@font-face{
  font-family:"HCo Gotham SSm";
  src:url("./assets/fonts/GothamSSm/GothamSSm-Bold.woff2") format("woff2"),url("./assets/fonts/GothamSSm/GothamSSm-Bold.woff") format("woff");
  font-weight:800;
  font-style:normal
} 

@font-face{
  font-family:"Amithen";
  src:url("./assets/fonts/Amithen/Amithen-font.woff2") format("woff2"),url("./assets/fonts/Amithen/Amithen-font.woff") format("woff");
  font-weight:800;
  font-style:normal
}

body {
  font-family: "HCo Gotham SSm", 'sans-serif';
  margin: 0;
  font-weight: 800;
  background-color: #f6f5ea;
  color: #343a40
}